<div
  class="admin-update-bike-station-component-container"
  [ngClass]="rootClassName"
>
  <span class="heading">{{ adminManageBikeStationTitle }}</span>
  <div
    class="admin-update-bike-station-component-container1">
    <admin-manage-bike-station-component
      rootClassName="admin-manage-bike-station-component-root-class-name"
    ></admin-manage-bike-station-component>
    <admin-parking-places-component
      rootClassName="admin-parking-places-component-root-class-name"
    ></admin-parking-places-component>

  </div>
</div>
