<div class="bike-stations-container">
  <app-navbar rootClassName="navbar-root-class-name5"></app-navbar>
  <div class="bike-stations-container1">
    <div class="bike-stations-container2">
      <bike-station-search-component
        rootClassName="bike-station-search-component-root-class-name"
      ></bike-station-search-component>
      <div class="bike-stations-container3">
        <map-component
          rootClassName="map-component-root-class-name"
        ></map-component>
      </div>
      <div class="bike-stations-container4">
        <bike-station-component
          rootClassName="bike-station-component-root-class-name1"
        ></bike-station-component>
        <bike-station-component
          rootClassName="bike-station-component-root-class-name2"
        ></bike-station-component>
        <bike-station-component
          rootClassName="bike-station-component-root-class-name3"
        ></bike-station-component>
      </div>
    </div>
    <div class="bike-stations-container5">
      <bike-station-bike-search-component
        rootClassName="bike-station-bike-search-component-root-class-name"
      ></bike-station-bike-search-component>
      <div class="bike-stations-container6">
        <bike-component
          rootClassName="bike-component-root-class-name3"
        ></bike-component>
        <bike-component
          rootClassName="bike-component-root-class-name2"
        ></bike-component>
        <bike-component
          rootClassName="bike-component-root-class-name1"
        ></bike-component>
      </div>
    </div>
  </div>
  <app-footer rootClassName="footer-root-class-name7"></app-footer>
</div>
