:host { 
  display: contents; 
}
.bike-stations-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bike-stations-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bike-stations-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.bike-stations-container3 {
  flex: 0 0 auto;
  width: 95%;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.bike-stations-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bike-stations-container5 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bike-stations-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
