<form class="reset-password-component-container" [ngClass]="rootClassName" (ngSubmit)="changePassword(email.value, oldPassword.value, newPassword.value)">
  <login-register-image-component
    rootClassName="login-register-image-component-root-class-name3"
  ></login-register-image-component>
  <span class="input-label-text">{{ resetPassworInputLabelEmail }}</span>
  <input
    type="email"
    id="reset-password-email-input"
    [attr.placeholder]="resetPasswordInputPlaceholderEmail"
    class="reset-password-component-textinput input"
    #email="ngModel"
    name="email"
    ngModel
  />
  <span class="input-label-text">{{ resetPassworInputLabelOldPassword }}</span>
  <input
    type="password"
    id="reset-password-old-password-input"
    [attr.placeholder]="resetPasswordInputPlaceholderOldPassword"
    class="reset-password-component-textinput input"
    #oldPassword="ngModel"
    name="oldPassword"
    ngModel
  />
  <span class="input-label-text">{{ resetPassworInputLabelNewPassword }}</span>
  <input
    type="password"
    id="reset-password-new-password-input"
    [attr.placeholder]="resetPasswordInputPlaceholderNewPassword"
    class="reset-password-component-textinput input"
    #newPassword="ngModel"
    name="newPassword"
    ngModel
  />
  <span class="reset-password-component-text1">{{ resetPasswordHint }}</span>
  <button
    id="reset-password-button"
    type="submit"
    class="reset-password-component-button button-blue button-general"
  >
    {{ resetPasswordButton }}
  </button>
  <span class="reset-password-component-text2">
    {{ resetPasswordAlreadyAccountSubText }}
  </span>
  <a
    routerLink="/login"
    class="reset-password-component-navlink link-text-font"
  >
    {{ resetPasswordLogInText }}
  </a>
</form>
