<div class="reset-password-component-container" [ngClass]="rootClassName">
  <login-register-image-component
    rootClassName="login-register-image-component-root-class-name3"
  ></login-register-image-component>
  <span class="input-label-text">{{ resetPwEmailTitle }}</span>
  <input
    type="number"
    id="reset-password-email-input"
    [attr.placeholder]="inputEmailPlaceholder"
    class="reset-password-component-textinput input"
  />
  <span class="reset-password-component-text1">{{ resetPasswordHint }}</span>
  <button
    id="reset-password-button"
    type="button"
    class="reset-password-component-button button-blue button-general"
  >
    {{ loginButtonText }}
  </button>
  <span class="reset-password-component-text2">
    {{ alreadyHaveAccountText }}
  </span>
  <a
    routerLink="/login"
    class="reset-password-component-navlink link-text-font"
  >
    {{ alreadyHaveAccountSubtext }}
  </a>
</div>
