:host { 
  display: contents; 
}
.reset-password-component-container {
  width: 368px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.reset-password-component-text {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.reset-password-component-textinput {
  width: 100%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.reset-password-component-text1 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.reset-password-component-button {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 17px;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: #1f75cb;
}
.reset-password-component-button:hover {
  color: var(--dl-color-gray-white);
  background: #084f9e;
}
.reset-password-component-text2 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.reset-password-component-navlink {
  color: #3582d0;
  font-size: 15px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.reset-password-component-navlink:hover {
  color: #1e76d2;
}

