:host { 
  display: contents; 
}
.reset-password-component-container {
  width: 368px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.reset-password-component-text {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.reset-password-component-textinput {
  width: 100%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.reset-password-component-text1 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.reset-password-component-button {
  width: 100%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.reset-password-component-text2 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.reset-password-component-navlink {
  font-size: 15px;
  font-style: normal;
  text-decoration: none;
}

