<div class="admin-bike-stations-component-container" [ngClass]="rootClassName">
  <span class="heading">{{ text }}</span>
  <searching-component
    rootClassName="searching-component-root-class-name1"
  ></searching-component>
  <div
    id="manage-bike-stations-entry-list-container"
    class="admin-bike-stations-component-container1"
  >
    <admin-bike-station-entry-component
      rootClassName="admin-bike-station-entry-component-root-class-name2"
    ></admin-bike-station-entry-component>
    <admin-bike-station-entry-component
      rootClassName="admin-bike-station-entry-component-root-class-name3"
    ></admin-bike-station-entry-component>
  </div>
</div>
