<div
  [ngClass]="rootClassName"
  class="admin-manage-bike-rentals-component-container"
>
  <span class="heading">{{ adminManageBikeRentalsTitle }}</span>
  <searching-component
    rootClassName="searching-component-root-class-name"
  ></searching-component>
  <div
    class="admin-manage-bike-rentals-component-container1"
    id="manage-active-tickets-entry-list-container"
  >
    <admin-manage-bike-rentals-list-entry
      rootClassName="admin-manage-bike-rentals-list-entry-root-class-name"
    ></admin-manage-bike-rentals-list-entry>
  </div>
</div>
