<div [ngClass]="rootClassName" class="model-component-container">
    <div class="model-bike-category-main-component">
        <div class="model-component-container2">
            <span class="model-bike-category-title">{{ modelName }}</span>
            <span class="model-bike-category-subtitle">{{ modelHintSubtitle }}</span>
            <span class="model-bike-category-general-text">
        {{ modelAssignedToCategory }}
      </span>
            <span class="model-bike-category-general-text">
        {{ modelAssignedBikes }}
      </span>
            <span class="model-bike-category-general-text">{{ modelPrice }}</span>
        </div>
        <div class="list-button-container">
            <button-update-delete-component (buttonClicked)="handleButtonClicked($event)"
                                            *ngIf="showAdminButtons"
                                            rootClassName="button-update-delete-component-root-class-name"
            ></button-update-delete-component>
            <button-book-component
                    (click)="performBook($event)"
                    *ngIf="visibleBookButton"
                    rootClassName="button-book-component-root-class-name"
            ></button-book-component>
        </div>
    </div>
</div>
