:host {
    display: contents;
}

.button-cancel-booking-component-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


