<div class="button-yes-cancel-container" [ngClass]="rootClassName">
  <div class="button-yes-cancel-container1">
    <button
      id="dialog-popup-yes-button"
      type="button"
      class="button-general button-green"
      (click)="onConfirm()"
    >
      {{ dialogPopupButtonYes }}
    </button>
  </div>
  <div class="button-yes-cancel-container2">
    <button
      id="dialog-popup-abort-button"
      type="button"
      class="button button-red"
      (click)="onCancel()"
    >
      {{ dialogPopupButtonAbort }}
    </button>
  </div>
</div>
