:host { 
  display: contents; 
}
.bike-station-bike-search-component-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.bike-station-bike-search-component-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bike-station-bike-search-component-text {
  margin-bottom: var(--dl-space-space-unit);
}
.bike-station-bike-search-component-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bike-station-bike-search-component-text1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.bike-station-bike-search-component-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.bike-station-bike-search-component-textinput {
  width: 100%;
  margin-right: var(--dl-space-space-twounits);
}
.bike-station-bike-search-component-root-class-name {
  width: 80%;
}
