:host {
  display: contents;
}

.admin-bike-assignment-component-container {
  width: 650px;
}

.admin-bike-assignment-component-form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}

.admin-bike-assignment-component-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.admin-bike-assignment-component-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}

.admin-bike-assignment-component-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}

.admin-bike-assignment-component-text1 {
  width: 100%;
}

.admin-bike-assignment-component-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
}

.admin-bike-assignment-component-text2 {
  width: 100%;
}

.admin-bike-assignment-component-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-bike-assignment-component-container6 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}

.admin-bike-assignment-component-select {
  width: 100%;
  height: 40px;
}

.admin-bike-assignment-component-container7 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}

.admin-bike-assignment-component-text5 {
  font-size: 20px;
  align-self: center;
}

.admin-bike-assignment-component-text6 {
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .admin-bike-assignment-component-container {
    width: 100%;
  }

  .admin-bike-assignment-component-text5 {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .admin-bike-assignment-component-container2 {
    flex-direction: column;
  }

  .admin-bike-assignment-component-container3 {
    width: 100%;
  }

  .admin-bike-assignment-component-container4 {
    width: 100%;
  }

  .admin-bike-assignment-component-container5 {
    flex-direction: column;
  }

  .admin-bike-assignment-component-container6 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
    padding-right: 0px;
  }

  .admin-bike-assignment-component-container7 {
    width: 100%;
  }

  .admin-bike-assignment-component-text5 {
    font-size: 20px;
  }
}
