<div class="admin-bike-assignment-component-container">
  <span class="heading">{{ adminAssignBikeTitle }}</span>
  <form class="admin-bike-assignment-component-form">
    <div class="admin-bike-assignment-component-container1">
      <div class="admin-bike-assignment-component-container2">
        <div class="admin-bike-assignment-component-container3">
          <span class="admin-bike-assignment-component-text1 input-label-text">
            {{ adminAssignBikeBikeModel }}
          </span>
        </div>
        <div class="admin-bike-assignment-component-container4">
          <span class="admin-bike-assignment-component-text2 input-label-text">
            {{ adminAssignBikeBikeCategories }}
          </span>
        </div>
      </div>
      <div class="admin-bike-assignment-component-container5">
        <div class="admin-bike-assignment-component-container6">
          <span class="input-label-text">
            {{ adminAssignBikeSelectorLabel }}
          </span>
          <select
            id="manage-bike-models-selector"
            class="admin-bike-assignment-component-select selector-style"
          >
            <option value="Option 1">Option 1</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 3">Option 3</option>
          </select>
          <span class="input-error-hint">{{ adminAssignBikeErrorText }}</span>
        </div>
        <div class="admin-bike-assignment-component-container7">
          <span class="admin-bike-assignment-component-text5 input-label-text">
            {{ adminAssignBikeParkingPlace }}
          </span>
        </div>
      </div>
    </div>
  </form>
  <button-save-discard-component
    rootClassName="button-save-discard-component-root-class-name3"
  ></button-save-discard-component>
</div>
