<div class="view-ratings-component-container" [ngClass]="rootClassName">
  <div class="view-ratings-component-container1">
    <span class="heading">{{ viewRatingsTitle }}</span>
    <div *ngIf="reviews.length == 0">
      <no-entries-component></no-entries-component>
    </div>
    <div id="reviews-list-container" class="view-ratings-component-container2" *ngIf="reviews.length > 0">
      <rating-component *ngFor="let review of reviews" [ratingData]="review"
                        (onReviewDelete)="handleReviewDelete($event)"
                        rootClassName="rating-component-root-class-name"
      ></rating-component>
    </div>
  </div>
</div>
