<div class="view-ratings-component-container" [ngClass]="rootClassName">
  <div class="view-ratings-component-container1">
    <span class="heading">{{ viewRatingsTitle }}</span>
    <div id="reviews-list-container" class="view-ratings-component-container2">
      <rating-component
        rootClassName="rating-component-root-class-name"
      ></rating-component>
      <rating-component
        rootClassName="rating-component-root-class-name1"
      ></rating-component>
    </div>
  </div>
</div>
