<div class="admin-categories-management-container" [ngClass]="rootClassName">
  <span class="heading">{{ adminCateogriesManagementTitle }}</span>
  <searching-component
    rootClassName="searching-component-root-class-name3"
  ></searching-component>
  <div
    id="manage-categories-entry-list-container"
    class="admin-categories-management-container1"
  >
    <category-component
      rootClassName="category-component-root-class-name3"
    ></category-component>
    <category-component
      rootClassName="category-component-root-class-name4"
    ></category-component>
  </div>
</div>
