<div
  class="new-review-popup-component-container popup-container"
  [ngClass]="rootClassName"
>
  <div class="new-review-popup-component-container1">
    <h1 class="popup-heading">{{ newReviewTitle }}</h1>
    <div class="new-review-popup-component-container2">
      <span class="new-review-popup-component-text1">
        {{ newReviewSubtitleRating }}
      </span>
    </div>
    <div class="new-review-popup-component-container3">
      <svg *ngFor="let star of stars; let i = index" (click)="setRating(i + 1)" viewBox="0 0 1024 1024" class="review-star">
        <path [attr.d]="getPath(i)" ></path>
      </svg>
    </div>

    <div class="new-review-popup-component-form">
      <div class="new-review-popup-component-container4">
        <span class="input-label-text">{{ newReviewLabelTitle }}</span>
        <input
          type="text"
          id="rating-title-input"
          required
          [attr.placeholder]="newReviewInputPlaceholderTitle"
          class="new-review-popup-component-textinput input"
          [(ngModel)]="ratingTitle"
          name="title"
        />
        <span class="input-error-hint">{{ newReviewTitleError }}</span>
      </div>
      <div class="new-review-popup-component-container5">
        <span class="input-label-text">{{ newReviewLabelSelectModel }}</span>
        <select
          id="rating-model-selector"
          class="new-review-popup-component-select selector-style"
          (change)="handleSelect($event)"
        >
          <option [value]="-1">{{newRatingGeneralSelection}}</option>
          <option *ngFor="let model of bikeModels" [value]="model.model_id">{{model.model_name}}</option>
        </select>
        <span class="input-error-hint">{{ newReviewModelError }}</span>
      </div>
      <span class="input-label-text">{{ newReviewLabelDescription }}</span>
      <textarea
        id="rating-description-input"
        [attr.placeholder]="newReviewInputPlaceholderDescription"
        class="new-review-popup-component-textarea textarea"
        [(ngModel)]="ratingDescription"
      ></textarea>
      <span class="input-error-hint">{{ newReviewDescriptionError }}</span>
    </div>
  </div>
  <button
    id="rating-send-button"
    type="button"
    class="new-review-popup-component-button button-blue button-general"
    (click)="handleConfirm()"
  >
    {{ newReviewButtonSend }}
  </button>
</div>
