:host { 
  display: contents; 
}
.admin-parking-place-selection-component-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.admin-parking-place-selection-component-text {
  font-size: 20px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.admin-parking-place-selection-component-select {
  width: 100%;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
}
.admin-parking-place-selection-component-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}




