<div class="image-upload-preview-component-container">
  <div class="image-upload-preview-component-container1">
    <button
      id="upload-image-button"
      type="button"
      class="button-blue button-general image-upload-preview-component-button"
    >
      {{ uploadImagePreviewButtonUpload }}
    </button>
    <button
      id="delete-image-button"
      type="button"
      class="image-upload-preview-component-button1 button-general button-red"
    >
      {{ uploadImagePreviewButtonDelete }}
    </button>
  </div>
  <div class="image-upload-preview-component-container2">
    <img
      id="upload-image-preview"
      [attr.alt]="uploadImagePreviewImageAlt"
      [attr.src]="uploadImagePreviewImageSrc"
      class="image-upload-preview-component-image"
    />
  </div>
</div>
