:host {
  display: contents;
}

.login-register-image-component-container {
  width: auto;
  height: 96px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.login-register-image-component-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-register-image-component-image {
  width: auto;
  height: var(--dl-size-size-medium);
  object-fit: cover;
}

.login-register-image-component-root-class-name {
  margin-bottom: var(--dl-space-space-twounits);
}


.login-register-image-component-root-class-name3 {
  margin-bottom: var(--dl-space-space-twounits);
}
