<div [ngClass]="rootClassName" class="booking-manage-tickets-user-container">
    <span class="heading">{{ bookingManageTicketsTitle }}</span>
    <div class="booking-manage-tickets-user-container1">
        <booking-active-tickets-component
                rootClassName="booking-active-tickets-component-root-class-name"
        ></booking-active-tickets-component>
        <booking-ticket-history-component
                rootClassName="booking-ticket-history-component-root-class-name"
        ></booking-ticket-history-component>
    </div>
</div>
