:host {
    display: contents;
}

.admin-navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.admin-navbar-image {
    height: 2rem;
    padding-right: var(--dl-space-space-twounits);
    text-decoration: none;
}

.admin-navbar-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.admin-navbar-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.admin-navbar-navlink05 {
    text-decoration: none;
}

.admin-navbar-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.admin-navbar-select {
    margin-right: var(--dl-space-space-twounits);
}

.admin-navbar-navlink06 {
    display: contents;
}

.admin-navbar-image1 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    object-fit: cover;
    margin-right: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    text-decoration: none;
}

.admin-navbar-button:hover {
    background: whitesmoke;
}

.admin-navbar-burger-menu {
    display: none;
}

.admin-navbar-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.admin-navbar-mobile-menu {
    display: none;
}

.admin-navbar-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.admin-navbar-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.admin-navbar-logo {
    height: 2rem;
}

.admin-navbar-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-navbar-icon2 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.admin-navbar-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.admin-navbar-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.admin-navbar-navlink12 {
    display: contents;
}

.admin-navbar-image2 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    object-fit: cover;
    margin-right: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-round);
    text-decoration: none;
}


@media (max-width: 767px) {
    .admin-navbar-desktop-menu {
        display: none;
    }

    .admin-navbar-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
