:host {
  display: contents;
}
.navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navbar-image {
  height: 2rem;
  padding-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-select {
  margin-right: var(--dl-space-space-twounits);
}
.navbar-navlink3 {
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
}
.navbar-navlink3:hover {
  background: whitesmoke;
}
.navbar-navlink4:hover {
  background: whitesmoke;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  display: none;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-logo {
  height: 2rem;
}
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-login {
  margin-right: var(--dl-space-space-twounits);
}

.navbar-root-class-name3 {
  margin-bottom: var(--dl-space-space-sixunits);
}

@media(max-width: 767px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar-mobile-menu {
    padding: 16px;
  }
}
