<div class="navbar-container" [ngClass]="rootClassName">
  <header data-thq="thq-navbar" class="navbar-navbar-interactive">
    <a routerLink="/" class="navbar-navlink">
      <img alt="logo" [attr.src]="imageSrc" class="navbar-image" />
    </a>
    <div data-thq="thq-navbar-nav" class="navbar-desktop-menu">
      <nav class="navbar-links">
        <a routerLink="/" class="navbar-navlink1">{{ navbarLinkAbout }}</a>
        <a routerLink="/bike-stations" class="navbar-navlink2">
          {{ navbarLinkBikeStations }}
        </a>
      </nav>
      <div class="navbar-buttons">
        <select class="navbar-select list">
          <option value="German" selected>Deutsch</option>
          <option value="English">English</option>
        </select>
        <a routerLink="/login" class="navbar-navlink3 button">
          {{ navbarButtonLogin }}
        </a>
        <a routerLink="/register" class="navbar-navlink4 button">
          {{ navbarButtonRegister }}
        </a>
      </div>
    </div>
    <div data-thq="thq-burger-menu" class="navbar-burger-menu">
      <svg viewBox="0 0 1024 1024" class="navbar-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <div data-thq="thq-mobile-menu" class="navbar-mobile-menu">
      <div class="navbar-nav">
        <div class="navbar-top">
          <img alt="image" [attr.src]="imageSrc" class="navbar-logo" />
          <div data-thq="thq-close-menu" class="navbar-close-menu">
            <svg viewBox="0 0 1024 1024" class="navbar-icon2">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>
        <nav class="navbar-links1">
          <a routerLink="/" class="navbar-navlink5">{{ navbarLinkAbout }}</a>
          <a routerLink="/bike-stations" class="navbar-navlink6">
            {{ navbarLinkBikeStations }}
          </a>
          <a routerLink="**" class="navbar-navlink7">{{ navbarLinkPricing }}</a>
        </nav>
        <div class="navbar-buttons1">
          <a routerLink="/login" class="navbar-login button">
            {{ navbarButtonLogin }}
          </a>
          <a routerLink="/register" class="navbar-register button">
            {{ navbarButtonRegister }}
          </a>
        </div>
      </div>
    </div>
  </header>
</div>
