:host { 
  display: contents; 
}
.bike-station-component-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.bike-station-component-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.bike-station-component-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 150px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
.bike-station-component-container3 {
  flex: 0 0 auto;
  width: 250px;
  height: 150px;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.bike-station-component-container4 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.bike-station-component-text {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding-left: var(--dl-space-space-halfunit);
}
.bike-station-component-text1 {
  width: 100%;
  font-size: 17px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.bike-station-component-text2 {
  color: var(--dl-color-gray-500);
  width: 100%;
  height: 100%;
  font-size: 17px;
  text-align: justify;
  padding-left: var(--dl-space-space-halfunit);
}
.bike-station-component-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.bike-station-component-icon08 {
  margin-right: var(--dl-space-space-halfunit);
}
.bike-station-component-text3 {
  font-size: 17px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.bike-station-component-image {
  width: 200px;
  height: 100%;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.bike-station-component-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  justify-content: center;
}
.bike-station-component-button {
  top: 6px;
  left: var(--dl-space-space-halfunit);
  position: absolute;
}
.bike-station-component-button1 {
  top: 6px;
  right: var(--dl-space-space-halfunit);
  position: absolute;
}
.bike-station-component-root-class-name {
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-sixunits);
}
