:host { 
  display: contents; 
}
.bike-station-component-container {
  width: 95%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.bike-station-component-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 0 3px 2px -2px gray;
  align-items: flex-start;
  border-bottom: 1px solid #D3D3D3;
  flex-direction: column;
}
.bike-station-component-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
.bike-station-component-container3 {
  flex: 0 0 auto;
  width: 60%;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.bike-station-component-container4 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.bike-station-component-text {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding-left: var(--dl-space-space-halfunit);
}
.bike-station-component-text1 {
  width: 100%;
  font-size: 17px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.bike-station-component-text2 {
  color: var(--dl-color-gray-500);
  width: 100%;
  height: 100%;
  font-size: 17px;
  text-align: justify;
  padding-left: var(--dl-space-space-halfunit);
}
.bike-station-component-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.bike-station-component-icon08 {
  margin-right: var(--dl-space-space-halfunit);
}
.bike-station-component-text3 {
  font-size: 17px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.bike-station-component-container6 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-end;
}
.bike-station-component-image {
  width: 200px;
  height: 100%;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.bike-station-component-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  justify-content: center;
}
.bike-station-component-button {
  top: 6px;
  left: var(--dl-space-space-halfunit);
  position: absolute;
}
.bike-station-component-button1 {
  top: 6px;
  right: var(--dl-space-space-halfunit);
  position: absolute;
}
.bike-station-component-root-class-name {
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-sixunits);
}



@media(max-width: 767px) {
  .bike-station-component-container3 {
    padding-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .bike-station-component-image {
    min-width: 100px;
  }
}
