<div [ngClass]="rootClassName" class="admin-model-management-container">
  <span class="heading">{{ adminModelsManagement }}</span>
  <searching-component (create)="performCreate()" (search)="performSearch($event)"
                       [searchInputPlaceholder]="'Search for models...'"
                       rootClassName="searching-component-root-class-name4"
  ></searching-component>

  <div *ngIf="models.length == 0">
    <no-entries-component></no-entries-component>
  </div>

  <div
    *ngIf="models.length > 0"
    class="admin-model-management-container1"
    id="manage-models-entry-list-container"
  >
    <model-component (onModelDelete)="handleModelDelete()" (onModelUpdate)="handleModelUpdate()"
                     *ngFor="let model of filteredModels"
                     [modelData]="model" [visibleBookButton]="false"
                     rootClassName="model-component-root-class-name3"
    ></model-component>
  </div>
</div>
