<div class="admin-model-management-container" [ngClass]="rootClassName">
  <span class="heading">{{ adminModelsManagement }}</span>
  <searching-component
    rootClassName="searching-component-root-class-name4"
  ></searching-component>
  <div
    id="manage-models-entry-list-container"
    class="admin-model-management-container1"
  >
    <model-component
      rootClassName="model-component-root-class-name3"
    ></model-component>
    <model-component
      rootClassName="model-component-root-class-name4"
    ></model-component>
  </div>
</div>
