<div [ngClass]="rootClassName" class="account-settings-component-container">
  <account-component
    rootClassName="account-component-root-class-name2"
  ></account-component>
  <user-account-drop-down-component
    rootClassName="user-account-drop-down-component-root-class-name1"
  ></user-account-drop-down-component>
  <wallet-account-drop-down-component
    rootClassName="wallet-account-drop-down-component-root-class-name1"
  ></wallet-account-drop-down-component>
  <security-drop-down-component
    rootClassName="security-drop-down-component-root-class-name1"
  ></security-drop-down-component>
</div>
