:host { 
  display: contents; 
}
.security-drop-down-component-container {
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.security-drop-down-component-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-halfunit);
}
.security-drop-down-component-text {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.security-drop-down-component-icon2 {
  width: 40px;
  height: 35px;
  transition: 0.3s;
}
.security-drop-down-component-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.security-drop-down-component-text3 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.security-drop-down-component-text4 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.security-drop-down-component-textinput {
  width: 30%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.security-drop-down-component-textinput1 {
  width: 30%;
}
.security-drop-down-component-button {
  align-self: center;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-danger-700);
}
.security-drop-down-component-button:hover {
  background-color: #bd3131;
}

