<div class="bike-stations-component-container" [ngClass]="rootClassName">
  <span class="heading">{{ bikeStationsTitle }}</span>
  <searching-component
    rootClassName="searching-component-root-class-name5"
  ></searching-component>
  <map-component rootClassName="map-component-root-class-name1"></map-component>
  <div class="bike-stations-component-container1">
    <bike-component
      rootClassName="bike-component-root-class-name10"
    ></bike-component>
    <bike-component
      rootClassName="bike-component-root-class-name11"
    ></bike-component>
  </div>
</div>
