:host {
  display: contents;
}

.bike-stations-component-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.bike-stations-component-container1 {
  flex: 0 0 auto;
  width: 95%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

