<div class="account-container">
  <app-navbar rootClassName="navbar-root-class-name4"></app-navbar>
  <div data-thq="thq-dropdown" class="account-thq-dropdown list-item">
    <ul data-thq="thq-dropdown-list" class="account-dropdown-list">
      <li data-thq="thq-dropdown" class="account-dropdown list-item">
        <div data-thq="thq-dropdown-toggle" class="account-dropdown-toggle">
          <span class="account-text">Sub-menu Item</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="account-dropdown1 list-item">
        <div data-thq="thq-dropdown-toggle" class="account-dropdown-toggle1">
          <span class="account-text1">Sub-menu Item</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="account-dropdown2 list-item">
        <div data-thq="thq-dropdown-toggle" class="account-dropdown-toggle2">
          <span class="account-text2">Sub-menu Item</span>
        </div>
      </li>
    </ul>
  </div>
  <account-component
    rootClassName="account-component-root-class-name"
  ></account-component>
  <user-account-drop-down-component
    rootClassName="user-account-drop-down-component-root-class-name"
  ></user-account-drop-down-component>
  <wallet-account-drop-down-component
    rootClassName="wallet-account-drop-down-component-root-class-name"
  ></wallet-account-drop-down-component>
  <security-drop-down-component
    rootClassName="security-drop-down-component-root-class-name"
  ></security-drop-down-component>
  <app-footer rootClassName="footer-root-class-name5"></app-footer>
</div>
