<div class="account-container">
  <app-navbar rootClassName="navbar-root-class-name4"></app-navbar>
  <account-component
    rootClassName="account-component-root-class-name"
  ></account-component>
  <user-account-drop-down-component
    rootClassName="user-account-drop-down-component-root-class-name"
  ></user-account-drop-down-component>
  <wallet-account-drop-down-component
    rootClassName="wallet-account-drop-down-component-root-class-name"
  ></wallet-account-drop-down-component>
  <security-drop-down-component
    rootClassName="security-drop-down-component-root-class-name"
  ></security-drop-down-component>
  <app-footer rootClassName="footer-root-class-name5"></app-footer>
</div>
