:host { 
  display: contents; 
}
.home-showcase-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-showcase-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-showcase-container1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.home-showcase-image {
  width: 60%;
  height: 462px;
  align-self: stretch;
  object-fit: cover;
}
.home-showcase-container2 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.home-showcase-text1 {
  color: var(--dl-color-primary-300);
  height: 45%;
  font-size: 30px;
  align-self: stretch;
  font-style: normal;
  font-family: "Fira Sans";
  font-weight: 500;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
}
.home-showcase-text2 {
  height: 20%;
  align-self: stretch;
  margin-top: var(--dl-space-space-halfunit);
  text-align: justify;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
}
.home-showcase-navlink {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.home-showcase-navlink:hover {
  background: #012364;
}

@media(max-width: 767px) {
  .home-showcase-container2 {
    width: 39%;
    margin-left: 0px;
  }
  .home-showcase-text1 {
    padding: 0px;
    text-align: center;
  }
  .home-showcase-text2 {
    padding: 0px;
  }
}
@media(max-width: 479px) {
  .home-showcase-text {
    text-align: center;
  }
  .home-showcase-container1 {
    flex-direction: column;
  }
  .home-showcase-image {
    width: 100%;
    height: 350px;
  }
  .home-showcase-container2 {
    width: 100%;
    margin-top: var(--dl-space-space-halfunit);
  }
}
