:host { 
  display: contents; 
}
.home-showcase-container {
  width: 100%;
  height: 604px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-showcase-text {
  font-size: 2.2em;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-showcase-container1 {
  width: 100%;
  height: 490px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-showcase-image {
  width: 60%;
  align-self: stretch;
  object-fit: cover;
  padding-left: var(--dl-space-space-halfunit);
}
.home-showcase-container2 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-showcase-text1 {
  color: var(--dl-color-primary-300);
  height: 45%;
  font-size: 30px;
  align-self: stretch;
  font-style: normal;
  font-family: "Fira Sans";
  font-weight: 500;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
}
.home-showcase-text2 {
  height: 20%;
  align-self: stretch;
  text-align: justify;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
}
.home-showcase-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  background-color: var(--dl-color-primary-100);
}
.home-showcase-button:hover {
  background: #012364;
}

