<div class="home-showcase-container" [ngClass]="rootClassName">
  <h1 id="title_home_showcase" class="home-showcase-text">
    {{ title_home_showcase }}
  </h1>
  <div class="home-showcase-container1">
    <img
      id="image_home_showcase"
      [attr.alt]="image_alt_home_showcase"
      [attr.src]="image_src_home_showcase"
      class="home-showcase-image"
    />
    <div class="home-showcase-container2">
      <span id="heading_home_showcase" class="home-showcase-text1">
        {{ heading_home_showcase }}
      </span>
      <span id="text_home_showcase" class="home-showcase-text2">
        {{ text_home_showcase }}
      </span>
      <button
        id="button_home_showcase"
        type="button"
        class="home-showcase-button button"
      >
        {{ button_text_home_showcase }}
      </button>
    </div>
  </div>
</div>
