<div
        [ngClass]="rootClassName"
        class="booking-ticket-history-entry-component-container"
>
    <div class="model-bike-category-main-component">
    <span class="model-bike-category-title">
      {{ bookingHistoryEntryTitle }}
    </span>
        <span class="model-bike-category-general-text">
      {{ bookingHistoryEntryRentingInformation }}
    </span>
        <span class="model-bike-category-general-text">
      {{ bookingHistoryEntryRentedBike }}
    </span>
        <span class="model-bike-category-general-text">
      {{ bookingHistoryEntryStatus }}
    </span>
    </div>
</div>
