<div class="admin-parking-places-component-container" [ngClass]="rootClassName">
  <div class="admin-parking-places-component-container1">
    <div class="admin-parking-places-component-container2">
      <span class="admin-parking-places-component-text subheading">
        {{ adminParkingPlacesTitle }}
      </span>
    </div>
    <div class="admin-parking-places-component-container3">
      <button
        id="parking-places-add-place-button"
        type="button"
        class="admin-parking-places-component-button button-blue button-general"
      >
        {{ adminParkingPlacesButtonAddPlace }}
      </button>
    </div>
  </div>
  <span class="admin-parking-places-component-text1">
    {{ adminParkingPlacesHint }}
  </span>

  <div class="admin-parking-places-component-container4">
    <admin-parking-place-selection-component *ngFor="let spot of parkingSpots" [spot]="spot" [categories]="categories"
      rootClassName="admin-parking-place-selection-component-root-class-name"
    ></admin-parking-place-selection-component>
  </div>

  <button-save-discard-component (confirm)="handleConfirm()"(cancel)="handleCancel()"></button-save-discard-component>
</div>
