:host {
    display: contents;
}

.admin-parking-places-component-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    align-self: flex-start;
    align-items: center;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
}

.admin-parking-places-component-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.admin-parking-places-component-container2 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    align-self: stretch;
    align-items: center;
}

.admin-parking-places-component-text {
    width: 100%;
    margin: 0px;
    align-self: flex-start;
    text-align: left;
}

.admin-parking-places-component-container3 {
    flex: 0 0 auto;
    width: 50%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.admin-parking-places-component-button {

}

.admin-parking-places-component-text1 {
    align-self: flex-start;
    text-align: justify;
}

.admin-parking-places-component-container4 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
}

.admin-parking-places-component-root-class-name {
    width: 50%;
}

@media (max-width: 767px) {
    .admin-parking-places-component-button {
        text-align: center;
    }

    .admin-parking-places-component-root-class-name {
        width: 100%;
    }
}
