<div [ngClass]="rootClassName" class="home-bikes-container">
  <div class="home-bikes-container1">
    <div class="bike-showcase-image-container">
      <img
        [attr.alt]="homeBikesImageAlt1"
        [attr.src]="homeBikesImageSrc1"
        class="bike-showcase-image"
        id="image_home_bikes_1"
      />
      <h1 class="bike-showcase-heading" id="heading_home_bikes_1">
        {{ homeBikesTitle1 }}
      </h1>
      <span class="home-bikes-text1" id="text_home_bikes_1">
        {{ homeBikesText1 }}
      </span>
    </div>
    <div class="bike-showcase-image-container">
      <img
        [attr.alt]="homeBikesImageAlt2"
        [attr.src]="homeBikesImageSrc2"
        class="bike-showcase-image"
        id="image_home_bikes_2"
      />
      <h1 class="bike-showcase-heading" id="heading_home_bikes_2">
        {{ homeBikesTitle2 }}
      </h1>
      <span class="home-bikes-text3" id="text_home_bikes_2">
        {{ homeBikesText2 }}
      </span>
    </div>
    <div class="bike-showcase-image-container">
      <img
        [attr.alt]="homeBikesImageAlt3"
        [attr.src]="homeBikesImageSrc3"
        class="bike-showcase-image"
        id="image_home_bikes_3"
      />
      <h1 class="bike-showcase-heading" id="heading_home_bikes_3">
        {{ homeBikesTitle3 }}
      </h1>
      <span class="home-bikes-text5" id="text_home_bikes_3">
        {{ homeBikesText3 }}
      </span>
    </div>
    <div class="bike-showcase-image-container">
      <img
        [attr.alt]="homeBikesImageAlt4"
        [attr.src]="homeBikesImageSrc4"
        class="bike-showcase-image"
        id="image_home_bikes_4"
      />
      <h1 class="bike-showcase-heading" id="heading_home_bikes_4">
        {{ homeBikesTitle4 }}
      </h1>
      <span class="home-bikes-text7" id="text_home_bikes_4">
        {{ homeBikesText4 }}
      </span>
    </div>
  </div>
</div>
