<div class="home-bikes-container" [ngClass]="rootClassName">
  <div class="home-bikes-container1">
    <div class="home-bikes-container2">
      <img
        id="image_home_bikes_1"
        [attr.alt]="image_alt_home_bikes_1"
        [attr.src]="image_src_home_bikes_1"
        class="home-bikes-image"
      />
      <h1 id="heading_home_bikes_1" class="home-bikes-text">
        {{ heading_home_bikes_1 }}
      </h1>
      <span id="text_home_bikes_1" class="home-bikes-text1">
        {{ text_home_bikes_1 }}
      </span>
    </div>
    <div class="home-bikes-container3">
      <img
        id="image_home_bikes_2"
        [attr.alt]="image_alt_home_bikes_2"
        [attr.src]="image_src_home_bikes_2"
        class="home-bikes-image1"
      />
      <h1 id="heading_home_bikes_2" class="home-bikes-text2">
        {{ heading_home_bikes_2 }}
      </h1>
      <span id="text_home_bikes_2" class="home-bikes-text3">
        {{ text_home_bikes_2 }}
      </span>
    </div>
    <div class="home-bikes-container4">
      <img
        id="image_home_bikes_3"
        [attr.alt]="image_alt_home_bikes_3"
        [attr.src]="image_src_home_bikes_3"
        class="home-bikes-image2"
      />
      <h1 id="heading_home_bikes_3" class="home-bikes-text4">
        {{ heading_home_bikes_3 }}
      </h1>
      <span id="text_home_bikes_3" class="home-bikes-text5">
        {{ text_home_bikes_3 }}
      </span>
    </div>
    <div class="home-bikes-container5">
      <img
        id="image_home_bikes_4"
        [attr.alt]="image_alt_home_bikes_4"
        [attr.src]="image_src_home_bikes_4"
        class="home-bikes-image3"
      />
      <h1 id="heading_home_bikes_4" class="home-bikes-text6">
        {{ heading_home_bikes_4 }}
      </h1>
      <span id="text_home_bikes_4" class="home-bikes-text7">
        {{ text_home_bikes_4 }}
      </span>
    </div>
  </div>
</div>
