<div class="home-bikes-container" [ngClass]="rootClassName">
  <div class="home-bikes-container1">
    <div class="home-bikes-container2">
      <img
        id="image_home_bikes_1"
        [attr.alt]="imageAltHomeBikes1"
        [attr.src]="imageSrcHomeBikes1"
        class="home-bikes-image"
      />
      <h1 id="heading_home_bikes_1" class="home-bikes-text">
        {{ headingHomeBikes1 }}
      </h1>
      <span id="text_home_bikes_1" class="home-bikes-text1">
        {{ textHomeBikes1 }}
      </span>
    </div>
    <div class="home-bikes-container3">
      <img
        id="image_home_bikes_2"
        [attr.alt]="imageAltHomeBikes2"
        [attr.src]="imageSrcHomeBikes2"
        class="home-bikes-image1"
      />
      <h1 id="heading_home_bikes_2" class="home-bikes-text2">
        {{ headingHomeBikes2 }}
      </h1>
      <span id="text_home_bikes_2" class="home-bikes-text3">
        {{ textHomeBikes2 }}
      </span>
    </div>
    <div class="home-bikes-container4">
      <img
        id="image_home_bikes_3"
        [attr.alt]="imageAltHomeBikes3"
        [attr.src]="imageSrcHomeBikes3"
        class="home-bikes-image2"
      />
      <h1 id="heading_home_bikes_3" class="home-bikes-text4">
        {{ headingHomeBikes3 }}
      </h1>
      <span id="text_home_bikes_3" class="home-bikes-text5">
        {{ textHomeBikes3 }}
      </span>
    </div>
    <div class="home-bikes-container5">
      <img
        id="image_home_bikes_4"
        [attr.alt]="imageAltHomeBikes4"
        [attr.src]="imageSrcHomeBikes4"
        class="home-bikes-image3"
      />
      <h1 id="heading_home_bikes_4" class="home-bikes-text6">
        {{ headingHomeBikes4 }}
      </h1>
      <span id="text_home_bikes_4" class="home-bikes-text7">
        {{ textHomeBikes4 }}
      </span>
    </div>
  </div>
</div>
