<div class="book-ticket-popup-component-container popup-container">
  <span class="popup-heading">{{ bookTicketPopupTitle }}</span>
  <span class="book-ticket-popup-component-text01 subheading">
    {{ bookTicketPopupSubtitleBookingInfo }}
  </span>

  <span class="book-ticket-popup-component-text06 subheading">
    {{ bookTicketPopupSubtitleRentingInfo }}
  </span>
  <div class="booking-information-component">
    <div class="book-ticket-popup-component-container06">

      <span class="book-ticket-popup-component-text04 input-label-text">
        {{ bookTicketBookingInformationLabelBookingTime }}
      </span>
      <input
        type="checkbox"
        id="book-ticket-immediate-checkbox"
        value="true"
        [(ngModel)]="immediateBooking"
        class="checkbox-style"
      />
      <span class="book-ticket-popup-component-text07 input-label-text">
        {{ bookTicketLabelRentingInformation }}
      </span>
      <input
        type="datetime-local"
        [disabled]="immediateBooking"
        id="book-ticket-rent-date-picker"
        [(ngModel)]="formattedBookingDate"
        [attr.placeholder]="bookTicketRentingInformationInputPlaceholderRentDate"
        class="input"
      />
      <span class="book-ticket-popup-component-text08 input-error-hint">
        {{ bookTicketRentDateError }}
      </span>
    </div>
    <div class="book-ticket-popup-component-container07">
      <span class="book-ticket-popup-component-text09 input-label-text">
        {{ bookTicketRentingInformationLabelRentDuration }}
      </span>
      <input
        type="time"
        id="book-ticket-rent-duration-time-picker"
        [(ngModel)]="bookingDuration"
        [attr.placeholder]="bookTicketInputPlaceholderRentingInformation"
        class="input"
      />
      <span class="input-error-hint">{{ bookTicketRentDurationError }}</span>
    </div>
  </div>
  <div class="book-ticket-popup-component-container08">
    <span class="model-bike-category-general-text">
      {{ bookTicketPopupCategory }}
    </span>
    <span class="model-bike-category-general-text">
      {{ bookTicketPopupName }}
    </span>
    <span
      class="book-ticket-popup-component-text13 model-bike-category-general-text"
    >
      {{ bookTicketPopupTotalPrice }}
    </span>
  </div>
  <span class="book-ticket-popup-component-text14">
    {{ bookTicketPopupNewWalletAmount }}
  </span>
  <span class="input-error-hint">{{ bookTicketWalletError }}</span>
  <div class="book-ticket-popup-component-container09">
    <button
      id="book-ticket-button"
      type="button"
      (click)="performBook()"
      class="button-general button-green"
    >
      {{ bookTicketPopupButtonBook }}
    </button>
    <button
      id="book-ticket-discard-button"
      type="button"
      class="book-ticket-popup-component-button1 button-general button-red"
    >
      {{ bookTicketPopupButtonDiscard }}
    </button>
  </div>
</div>
