<div class="book-ticket-popup-component-container">
  <span class="heading">{{ text }}</span>
  <span class="book-ticket-popup-component-text1 subheading">{{ text5 }}</span>
  <book-ticket-booking-information-component
    rootClassName="book-ticket-booking-information-component-root-class-name"
  ></book-ticket-booking-information-component>
  <span class="book-ticket-popup-component-text2 subheading">{{ text7 }}</span>
  <book-ticket-renting-information-component
    rootClassName="book-ticket-renting-information-component-root-class-name"
  ></book-ticket-renting-information-component>
  <div class="book-ticket-popup-component-container1">
    <span class="model-bike-category-general-text">{{ text3 }}</span>
    <span class="model-bike-category-general-text">{{ text4 }}</span>
    <span
      class="book-ticket-popup-component-text5 model-bike-category-general-text"
    >
      {{ text6 }}
    </span>
  </div>
  <span class="book-ticket-popup-component-text6">{{ text8 }}</span>
  <div class="book-ticket-popup-component-container2">
    <button
      type="button"
      id="book-ticket-button"
      class="button-general button-green"
    >
      {{ button }}
    </button>
    <button
      type="button"
      id="book-ticket-discard-button"
      class="book-ticket-popup-component-button1 button-general button-red"
    >
      {{ button1 }}
    </button>
  </div>
</div>
