<div class="book-ticket-popup-component-container popup-container">
  <span class="popup-heading">{{ bookTicketPopupTitle }}</span>
  <span class="book-ticket-popup-component-text01 subheading">
    {{ bookTicketPopupSubtitleBookingInfo }}
  </span>
  <div
    class="book-ticket-popup-component-container1 booking-information-component"
  >
    <div class="book-ticket-popup-component-container2">
      <div class="book-ticket-popup-component-container3">
        <div class="book-ticket-popup-component-container4">
          <span class="book-ticket-popup-component-text02 input-label-text">
            {{ bookTicketBookingInformationImmediateBooking }}
          </span>
          <svg viewBox="0 0 1024 1024" class="book-ticket-popup-component-icon">
            <path
              d="M470 384v-86h84v86h-84zM512 854q140 0 241-101t101-241-101-241-241-101-241 101-101 241 101 241 241 101zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125zM470 726v-256h84v256h-84z"
            ></path>
          </svg>
        </div>
        <input
          type="checkbox"
          id="book-ticket-immediate-checkbox"
          checked="true"
          class="checkbox-style"
          [(ngModel)]="immediateBooking"
        />
        <span class="input-error-hint">{{ bookTicketCheckboxError }}</span>
      </div>
      <div class="book-ticket-popup-component-container5">
        <span class="book-ticket-popup-component-text04 input-label-text">
          {{ bookTicketBookingInformationLabelBookingTime }}
        </span>
        <input
          type="datetime-local"
          [disabled]="immediateBooking"
          [(ngModel)]="formattedBookingDate"
          id="book-ticket-booking-date-picker"
          [attr.placeholder]="bookTicketBookingInformationInputPlaceholderBookingTime"
          class="input"
        />
        <span class="input-error-hint">{{ bookTicketBookingTimeError }}</span>
      </div>
    </div>
    <div class="book-ticket-popup-component-container6">
      <span class="book-ticket-popup-component-text06 input-label-text">
        {{ bookTicketRentingInformationLabelRentDuration }}
      </span>
      <input
        type="time"
        id="book-ticket-rent-duration-time-picker"
        [(ngModel)]="bookingDuration"
        [attr.placeholder]="bookTicketInputPlaceholderRentingInformation"
        class="input"
      />
      <span class="input-error-hint">{{ bookTicketRentDurationError }}</span>
    </div>
  </div>
  <div class="book-ticket-popup-component-container7">
    <span class="model-bike-category-general-text">
      {{ bookTicketPopupCategory }}
    </span>
    <span class="model-bike-category-general-text">
      {{ bookTicketPopupName }}
    </span>
    <span
      class="book-ticket-popup-component-text10 model-bike-category-general-text"
    >
      {{ bookTicketPopupTotalPrice }}
    </span>
  </div>
  <span class="book-ticket-popup-component-text11">
    {{ bookTicketPopupNewWalletAmount }}
  </span>
  <span class="input-error-hint">{{ bookTicketWalletError }}</span>
  <div class="book-ticket-popup-component-container8">
    <button
      id="book-ticket-button"
      type="button"
      (click)="performBook()"
      class="button-general button-green"
    >
      {{ bookTicketPopupButtonBook }}
    </button>
    <button
      id="book-ticket-discard-button"
      type="button"
      class="book-ticket-popup-component-button1 button-general button-red"
      (click)="performCancel()"
    >
      {{ bookTicketPopupButtonDiscard }}
    </button>
  </div>
</div>
