<div class="booking-component-container" [ngClass]="rootClassName">
  <span class="booking-component-text heading">{{ bookingTitle }}</span>
  <div class="booking-component-container1">
    <span class="link-text-font booking-navbar-title">
      {{ bookingBikesTitle }}
    </span>
    <span class="link-text-font booking-navbar-title">
      {{ bookingModelsTitle }}
    </span>
    <span class="link-text-font booking-navbar-title">
      {{ bookingCategoriesTitle }}
    </span>
  </div>
  <div class="booking-component-container2">
    <span class="input-label-text">{{ bookingLabelSearch }}</span>
    <searching-component
      [visibleCreateButton]="false"
      (search)="performSearch($event)"
      rootClassName="searching-component-root-class-name6"
    ></searching-component>
  </div>
  <div class="booking-component-container3">
    <div class="booking-component-bike-container">
      <bike-component
        [visibleBookButton]="false"
        *ngFor="let bike of bikes"
        [bikeData]="bike"

        rootClassName="bike-component-root-class-name8"

      ></bike-component>
      <bike-component
        *ngFor="let bike of bikes"
        [bikeData]="bike"
        rootClassName="bike-component-root-class-name4"
      ></bike-component>

    </div>
    <div class="booking-component-model-container">
      <model-component
        rootClassName="model-component-root-class-name"
      ></model-component>
      <model-component
        rootClassName="model-component-root-class-name1"
      ></model-component>
    </div>
    <div class="booking-component-categories-container">
      <category-component
        rootClassName="category-component-root-class-name"
      ></category-component>
      <category-component
        rootClassName="category-component-root-class-name1"
      ></category-component>
    </div>
  </div>
</div>
