<div
  class="booking-ticket-history-component-container"
  [ngClass]="rootClassName"
>
  <span class="subheading">{{ bookingHistoryTitle }}</span>
  <div
    id="booking-history-user-entry-list"
    class="booking-ticket-history-component-container1"
  >
    <booking-ticket-history-entry-component
      rootClassName="booking-ticket-history-entry-component-root-class-name"
    ></booking-ticket-history-entry-component>
    <booking-ticket-history-entry-component
      rootClassName="booking-ticket-history-entry-component-root-class-name1"
    ></booking-ticket-history-entry-component>
  </div>
</div>
