<div class="bike-component-container" [ngClass]="rootClassName">
  <div class="bike-component-container1">
    <div class="bike-component-container2">
      <div class="bike-component-container3">
        <div class="bike-component-container4">
          <span class="bike-component-text">{{ bikesBikeName }}</span>
          <span class="bike-info-texts">{{ bikesSize }}</span>
          <span class="bike-info-texts">{{ bikesModel }}</span>
          <span class="bike-info-texts">{{ bikesType }}</span>
          <span class="bike-info-texts">{{ bikesStatus }}</span>
        </div>
      </div>
      <div class="bike-component-container5">
        <img
          [attr.alt]="imageAlt"
          [attr.src]="bikesImageSrc"
          class="bike-component-image"
        />
        <button
          type="button"
          class="bike-component-button button-blue button-general"
        >
          {{ bikesBook }}
        </button>
      </div>
    </div>
  </div>
</div>
