:host { 
  display: contents; 
}
.bike-component-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.bike-component-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  box-shadow: 3px 3px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: #f5f5f5;
}
.bike-component-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 150px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
.bike-component-container3 {
  flex: 0 0 auto;
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.bike-component-container4 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.bike-component-text {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.bike-component-container5 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.bike-component-image {
  width: 200px;
  height: 65%;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}
.bike-component-button {
  width: var(--dl-size-size-medium);
  align-self: center;
  background-color: green;
}
.bike-component-root-class-name {
  margin-left: var(--dl-space-space-threeunits);
}
