<div class="account-component-container" [ngClass]="rootClassName">
  <h1 class="account-component-text heading">{{ accountSettingsTitle }}</h1>
  <div class="account-component-container1">
    <img
      [attr.alt]="imageAlt"
      [attr.src]="imageSrc"
      class="account-component-image"
    />
    <div class="account-component-container2">
      <span class="account-component-text1">{{ accountName }}</span>
      <span class="account-component-text2">{{ accountEmail }}</span>
    </div>
  </div>
</div>
