<div class="account-component-container" [ngClass]="rootClassName">
  <h1 class="heading">{{ accountSettingsTitle }}</h1>
  <div class="account-component-container1">
    <div
      id="profile-image-container"
      class="account-component-profile-pic-image-container"
    >
      <svg viewBox="0 0 1024 1024" class="account-component-icon">
        <path
          d="M214 768h596v86h-596v-86zM384 682v-256h-170l298-298 298 298h-170v256h-256z"
        ></path>
      </svg>
    </div>
    <div class="account-component-container2">
      <span class="account-component-text1">{{ accountName }}</span>
      <span class="account-component-text2">{{ accountEmail }}</span>
    </div>
  </div>
</div>
