<div class="admin-manage-bike-popup-component-container popup-container">
  <span class="popup-heading">{{ adminManageBikeTitle }}</span>
  <form class="admin-manage-bike-popup-component-form">
    <div class="admin-manage-bike-popup-component-container1">
      <div class="admin-manage-bike-popup-component-container2">
        <span class="input-label-text">{{ adminManageBikeLabelName1 }}</span>
        <input
          type="text"
          id="manage-bike-name-input"
          [attr.placeholder]="adminManageBikeInputPlaceholderName"
          class="admin-manage-bike-popup-component-textinput input"
          [(ngModel)]="bikeName"
          name="bikeName"
        />
        <span class="input-error-hint">{{ adminManageBikeNameError }}</span>
      </div>
      <div class="admin-manage-bike-popup-component-container3">
        <div class="admin-manage-bike-popup-component-container4">
          <span class="input-label-text">{{ adminManageBikeLabelSize }}</span>
          <input
            type="number"
            id="manage-bike-size-input"
            [attr.placeholder]="adminManageBikeInputPlaceholderSize"
            class="admin-manage-bike-popup-component-textinput1 input"
            [(ngModel)]="bikeSize"
            name="bikeSize"
          />
          <span class="input-error-hint">{{ adminManageBikeSizeError }}</span>
        </div>
        <div class="admin-manage-bike-popup-component-container5">
          <span class="input-label-text">{{ adminManageBikeLabelPrice }}</span>
          <input
            type="number"
            id="manage-bike-price-input"
            [attr.placeholder]="adminManageBikeInputPlaceholderPrice"
            class="admin-manage-bike-popup-component-textinput2 input"
            [(ngModel)]="bikePrice"
            name="bikePrice"
          />
          <span class="input-error-hint">{{ adminManageBikePriceError }}</span>
        </div>
      </div>
      <div class="admin-manage-bike-popup-component-container6">
        <div class="admin-manage-bike-popup-component-container7">
          <span class="input-label-text">
            {{ adminManageBikeLabelAssignModels }}
          </span>
          <select
            id="manage-bike-models-selector"
            class="admin-manage-bike-popup-component-select selector-style"
            (change)="handleSelect($event)"
          >
            <option [value]="-1">{{adminManageBikeSelectorGeneralSelection}}</option>
            <option *ngFor="let model of bikeModels" [value]="model.model_id">{{model.model_name}}</option>
          </select>
          <span class="input-error-hint">{{ adminManageBikeModelError }}</span>
        </div>
        <div class="admin-manage-bike-popup-component-container8">
          <span
            class="admin-manage-bike-popup-component-text09 input-label-text"
          >
            {{ adminManageBikeStatus }}
          </span>
          <input
            type="checkbox"
            id="manage-bike-operational-checkbox"
            checked="true"
            class="checkbox-style"
            [(ngModel)]="isOperational"
            name="isOperational"
          />
          <span class="input-error-hint">{{ adminManageBikeCheckboxError }}</span>
        </div>
      </div>
    </div>
  </form>
  <span class="admin-manage-bike-popup-component-text10">
    {{ adminManageBikeImageTitle }}
  </span>
  <image-upload-preview-component></image-upload-preview-component>
  <button-save-discard-component (confirm)="handleConfirm()" (cancel)="handleCancel()"></button-save-discard-component>
</div>
