:host { 
  display: contents; 
}
.admin-manage-bike-popup-component-container {
  width: 600px;
}
.admin-manage-bike-popup-component-form {
  width: 100%;
  height: auto;
  display: flex;
}
.admin-manage-bike-popup-component-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.admin-manage-bike-popup-component-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.admin-manage-bike-popup-component-textinput {
  width: 100%;
}
.admin-manage-bike-popup-component-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.admin-manage-bike-popup-component-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.admin-manage-bike-popup-component-textinput1 {
  width: 100%;
}
.admin-manage-bike-popup-component-container5 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.admin-manage-bike-popup-component-textinput2 {
  width: 100%;
}
.admin-manage-bike-popup-component-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.admin-manage-bike-popup-component-container7 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.admin-manage-bike-popup-component-select {
  width: 100%;
  height: 40px;
}
.admin-manage-bike-popup-component-container8 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.admin-manage-bike-popup-component-text09 {
  align-self: center;
}
.admin-manage-bike-popup-component-text10 {
  font-size: 22px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 767px) {
  .admin-manage-bike-popup-component-container {
    width: 100%;
  }
}
