:host {
  display: contents;
}

.dialog-popup-component-container {
  width: 500px;
}

.dialog-popup-component-text1 {
  margin-bottom: var(--dl-space-space-twounits);
}

@media (max-width: 767px) {
  .dialog-popup-component-container {
    width: 100%;
  }
}
