:host { 
  display: contents; 
}
.dialog-popup-component-container {
  width: 500px;
  height: 500pxrge;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dialog-popup-component-text1 {
  font-size: 18px;
  text-align: justify;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 479px) {
  .dialog-popup-component-container {
    width: 95%;
    height: auto;
  }
  .dialog-popup-component-text1 {
    text-align: justify;
  }
}
