<div
  class="admin-bike-station-search-component-container"
  [ngClass]="rootClassName"
>
  <div class="admin-bike-station-search-component-container1">
    <h1 class="admin-bike-station-search-component-text heading">
      {{ bikeStationsTitle }}
    </h1>
    <div class="admin-bike-station-search-component-container2">
      <div class="admin-bike-station-search-component-container3">
        <input
          type="text"
          [attr.placeholder]="bikeStationsSearchInputPlaceholder"
          class="admin-bike-station-search-component-textinput input"
        />
        <button type="button" class="button-blue button-general">
          {{ bikeStationsSearchButtonSearch }}
        </button>
        <button
          type="button"
          class="admin-bike-station-search-component-button1 button-general button-green"
        >
          {{ bikeStationsSearchButtonSearch1 }}
        </button>
      </div>
    </div>
  </div>
</div>
