:host { 
  display: contents; 
}
.register-component-container {
  width: 368px;
  height: 501px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.register-component-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.register-component-container1 {
  flex: 1;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.register-component-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.register-component-text {
  width: 50%;
  text-align: left;
  margin-right: var(--dl-space-space-halfunit);
}
.register-component-text1 {
  width: 50%;
  text-align: left;
  margin-left: var(--dl-space-space-halfunit);
}
.register-component-container3 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.register-component-textinput {
  width: 50%;
  margin-right: var(--dl-space-space-halfunit);
}
.register-component-textinput1 {
  width: 50%;
  margin-left: var(--dl-space-space-halfunit);
}
.register-component-textinput2 {
  width: 100%;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.register-component-textinput3 {
  width: 100%;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.register-component-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.register-component-textinput4 {
  width: 100%;
}
.register-component-button {
  width: 100%;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-component-button:hover {
  background: #084f9e;
}
.register-component-text5 {
  color: var(--dl-color-gray-500);
  font-size: 15px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
}
.register-component-root-class-name {
  height: auto;
  margin-top: 5%;
}
@media(max-width: 479px) {
  .register-component-container {
    width: 95%;
    padding: var(--dl-space-space-halfunit);
  }
}
