<div class="register-component-container" [ngClass]="rootClassName">
  <login-register-image-component
    rootClassName="login-register-image-component-root-class-name1"
  ></login-register-image-component>
  <form class="register-component-form">
    <div class="register-component-container1">
      <div class="register-component-container2">
        <span class="register-component-text input-label-text">
          {{ registerFirstNameTitle }}
        </span>
        <span class="register-component-text1 input-label-text">
          {{ registerLastNameTitle }}
        </span>
      </div>
      <div class="register-component-container3">
        <input
          type="text"
          [attr.placeholder]="inputFirstnamePlaceholderText"
          id="register-first-name-input"
          class="register-component-textinput input"
        />
        <input
          type="text"
          [attr.placeholder]="inputLastnamePlaceholderText"
          id="register-last-name-input"
          class="register-component-textinput1 input"
        />
      </div>
    </div>
    <span class="input-label-text">{{ registerUsernameTitle }}</span>
    <input
      type="text"
      [attr.placeholder]="inputUsernamePlaceholder"
      id="register-user-name-input"
      class="register-component-textinput2 input"
    />
    <span class="input-label-text">{{ registerEmailTitle }}</span>
    <input
      type="email"
      [attr.placeholder]="inputEmailPlaceholder"
      id="register-email-input"
      class="register-component-textinput3 input"
    />
    <div class="register-component-container4">
      <span class="input-label-text">{{ loginPasswordTitle }}</span>
    </div>
    <input
      type="password"
      [attr.placeholder]="inputPasswordPlaceholderText"
      id="register-password-input"
      class="register-component-textinput4 input"
    />
  </form>
  <button
    type="button"
    id="register-button"
    class="register-component-button button-blue button-general"
  >
    {{ registerButtonText }}
  </button>
  <span class="register-component-text5">{{ registerAccountHint }}</span>
</div>
