<div class="booking-rent-bike-start-confirmation-popup-component-container">
  <span class="heading">{{ text }}</span>
  <div class="booking-rent-bike-start-confirmation-popup-component-container1">
    <div
      class="booking-rent-bike-start-confirmation-popup-component-container2"
    >
      <span
        class="booking-rent-bike-start-confirmation-popup-component-text1 input-label-text"
      >
        {{ adminAssignBikeBikeModel }}
      </span>
    </div>
    <div
      class="booking-rent-bike-start-confirmation-popup-component-container3"
    >
      <span
        class="booking-rent-bike-start-confirmation-popup-component-text2 input-label-text"
      >
        {{ adminAssignBikeBikeCategories }}
      </span>
    </div>
  </div>
  <span
    class="booking-rent-bike-start-confirmation-popup-component-text3 input-label-text"
  >
    {{ text1 }}
  </span>
  <div class="booking-rent-bike-start-confirmation-popup-component-container4">
    <div
      class="booking-rent-bike-start-confirmation-popup-component-container5"
    >
      <span
        class="booking-rent-bike-start-confirmation-popup-component-text4 input-label-text"
      >
        {{ adminAssignBikeBikeModel1 }}
      </span>
    </div>
    <div
      class="booking-rent-bike-start-confirmation-popup-component-container6"
    >
      <span
        class="booking-rent-bike-start-confirmation-popup-component-text5 input-label-text"
      >
        {{ adminAssignBikeBikeCategories1 }}
      </span>
    </div>
  </div>
  <button-yes-cancel
    rootClassName="button-yes-cancel-root-class-name"
  ></button-yes-cancel>
</div>
