:host { 
  display: contents; 
}
.button-book-component-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}


.button-book-component-root-class-name2 {
  display: none;
}
