:host { 
  display: contents; 
}
.wallet-account-drop-down-component-container {
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wallet-account-drop-down-component-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-halfunit);
}
.wallet-account-drop-down-component-text {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.wallet-account-drop-down-component-text3 {
  font-style: normal;
  font-weight: 500;
}
.wallet-account-drop-down-component-icon2 {
  width: 40px;
  height: 35px;
  transition: 0.3s;
}
.wallet-account-drop-down-component-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.wallet-account-drop-down-component-text4 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.wallet-account-drop-down-component-text5 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.wallet-account-drop-down-component-button {
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.wallet-account-drop-down-component-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.wallet-account-drop-down-component-text6 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.wallet-account-drop-down-component-text7 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.wallet-account-drop-down-component-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.wallet-account-drop-down-component-button1 {
  align-self: center;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: #036f03;
}
.wallet-account-drop-down-component-button1:hover {
  background-color: #024c02;
}
.wallet-account-drop-down-component-button2 {
  align-self: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-danger-500);
}
.wallet-account-drop-down-component-button2:hover {
  background-color: var(--dl-color-danger-300);
}
.wallet-account-drop-down-component-root-class-name {
  margin-bottom: var(--dl-space-space-twounits);
}
