<div class="drop-down-component" [ngClass]="rootClassName">
  <div class="drop-down-main-element">
    <div class="drop-down-toggle-main">
      <svg
        viewBox="0 0 1024 1024"
        class="wallet-account-drop-down-component-icon"
      >
        <path
          d="M504 466q44 12 73 24t61 33 49 53 17 76q0 62-41 101t-109 51v92h-128v-92q-66-14-109-56t-47-108h94q8 90 126 90 62 0 89-23t27-53q0-72-128-104-200-46-200-176 0-58 42-99t106-55v-92h128v94q66 16 101 60t37 102h-94q-4-90-108-90-52 0-83 22t-31 58q0 58 128 92z"
        ></path>
      </svg>
      <span class="wallet-account-drop-down-component-text">
        <span>Wallet</span>
        <br />
      </span>
      <span class="wallet-account-drop-down-component-text3">
        {{ walletAmount }}
      </span>
      <div class="drop-down-arrow">
        <svg viewBox="0 0 1024 1024" class="arrow-style">
          <path d="M298 426h428l-214 214z"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="drop-down-list">
    <div class="drop-down-list-drop-down">
      <div class="drop-down-toggle">
        <div class="drop-down-container-style">
          <span class="wallet-account-drop-down-component-text4">
            {{ walletDepositMoneyTitle }}
          </span>
          <span class="wallet-account-drop-down-component-text5">
            {{ walletDepositMoneySubtitle }}
          </span>
          <button
            type="button"
            id="wallet-deposit-money-button"
            class="wallet-account-drop-down-component-button button-blue button-general"
          >
            {{ buttonDepositMoney }}
          </button>
        </div>
      </div>
    </div>
    <div class="drop-down-list-drop-down">
      <div class="drop-down-toggle">
        <div class="drop-down-container-style">
          <span class="wallet-account-drop-down-component-text6">
            {{ walletConnectWalletTitle }}
          </span>
          <span class="wallet-account-drop-down-component-text7">
            {{ walletConnectWalletSubtitle }}
          </span>
          <div class="wallet-account-drop-down-component-container11">
            <button
              type="button"
              id="wallet-connect-wallet-button"
              class="wallet-account-drop-down-component-button1 button-blue button-general"
            >
              {{ buttonConnectWallet }}
            </button>
            <button
              type="button"
              id="wallet-remove-wallt-button"
              class="wallet-account-drop-down-component-button2 button-blue button-general"
            >
              {{ buttonRemoveWallet1 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
