<div class="booking-information-component" [ngClass]="rootClassName">
  <div class="book-ticket-renting-information-component-container1">
    <span
      class="book-ticket-renting-information-component-text input-label-text"
    >
      {{ bookTicketLabelRentingInformation }}
    </span>
    <input
      type="datetime-local"
      id="book-ticket-rent-date-picker"
      [attr.placeholder]="bookTicketRentingInformationInputPlaceholderRentDate"
      class="input"
    />
  </div>
  <div class="book-ticket-renting-information-component-container2">
    <span
      class="book-ticket-renting-information-component-text1 input-label-text"
    >
      {{ bookTicketRentingInformationLabelRentDuration }}
    </span>
    <input
      type="time"
      id="book-ticket-rent-duration-time-picker"
      [attr.placeholder]="bookTicketInputPlaceholderRentingInformation"
      class="input"
    />
  </div>
</div>
