:host {
  display: contents;
}

.login-component-container {
  width: 368px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.login-component-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}

.login-component-textinput {
  width: 100%;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.login-component-textinput1 {
  width: 100%;
  margin-bottom: var(--dl-space-space-halfunit);
}

.login-component-navlink {
  font-size: 14px;
  align-self: flex-end;
  font-style: normal;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.login-component-text2 {
  align-self: center;
}

.login-component-button {
  width: 100%;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}

.login-component-button:hover {
  color: var(--dl-color-gray-white);
  background: #084f9e;
}

.login-component-text3 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.login-component-navlink1 {
  font-size: 15px;
  font-style: normal;
  text-decoration: none;
}

.login-component-root-class-name {
  top: 180px;
  left: 416px;
  position: static;
  align-self: center;
  margin-top: 10%;
}

@media (max-width: 1200px) {
  .login-component-root-class-name {
    height: auto;
  }
}

@media (max-width: 767px) {
  .login-component-root-class-name {
    margin-top: 20%;
  }
}

@media (max-width: 479px) {
  .login-component-container {
    width: 95%;
    padding: var(--dl-space-space-halfunit);
  }

  .login-component-root-class-name {
    margin-top: 25%;
  }
}
