<div class="manage-tickets-user-container">
    <app-navbar *ngIf="AuthService.getRole() === 'guest'" rootClassName="navbar-root-class-name1"></app-navbar>
    <navbar-user *ngIf="AuthService.getRole() === 'user'" rootClassName="navbar-root-class-name1"></navbar-user>
    <admin-navbar *ngIf="AuthService.getRole() === 'admin'"
                  rootClassName="admin-navbar-root-class-name1"></admin-navbar>

    <booking-manage-tickets-user
            rootClassName="booking-manage-tickets-user-root-class-name"
    ></booking-manage-tickets-user>
    <app-footer rootClassName="footer-root-class-name13"></app-footer>
</div>
