<div
  class="admin-bikes-management-component-container"
  [ngClass]="rootClassName"
>
  <span class="heading">{{ adminBikesManagementTitlte }}</span>
  <searching-component
    rootClassName="searching-component-root-class-name2"
  ></searching-component>
  <div
    id="manage-bikes-entry-list-container"
    class="admin-bikes-management-component-container1"
  >
    <bike-component
      rootClassName="bike-component-root-class-name8"
    ></bike-component>
    <bike-component
      rootClassName="bike-component-root-class-name9"
    ></bike-component>
  </div>
</div>
